$body-bg-color: #ffffffd8;


//primary website colors

// $color-primary: #021B79;
// $color-primary-light: #0575E6;
// $color-primary-dark: #021B79;

$color-grey-light-1: #f9f7f6;

$color-primary: #0f0c29;
$color-primary-light: #24243e;
$color-primary-middle: #231f55;
$color-primary-dark: #0f0c29;


// $color-primary: #55c57a;
// $color-primary-light: #27c4aa;
// $color-primary-dark: #095f42;

//colors
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//Navigation colors
$navigation-bg-color: #0f0c29;
$navigation-text-color: #ffffff;

//events color