//primary website colors
$color-primary: #55c57a;
$color-primary-light: #27c4aa;
$color-primary-dark: #095f42;


$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;
// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

//Navigation colors
$navigation-bg-color: #2ed573;
$navigation-text-color: #ffffff;