.navbar-customization {
    color: $navigation-text-color;
    padding: 0 1rem;
    // overflow: hidden;
    z-index: 10000;
}

.navbar-dark {
    background-color: transparent;
}

.navbar-dark.scrolled {
    background-color: $color-primary-dark !important;
    transition: background-color 500ms linear;
    box-shadow: 1px 1px 5px #141414e3;
}

.navbar-logo {
    width: 5rem;
    height: 5rem;
}

span.navbar-toggler-icon {
    font-size: 2rem;
}

.nav-item {
    padding: 1.4rem 1.5rem;

    &:last-child {
        padding-right: 0;
    }
}

.cs-nav-link-dropdown {
    padding: 0 !important;
    color: $navigation-text-color !important;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}

.dropdown-menu {
    color: $navigation-text-color !important;
    font-weight: 700 !important;
    font-size: 1.3rem;
    background-color: $color-primary-dark;
    z-index: 1000000;
    text-align: center;
}

.dropdown-item {
    color: #ffffff;
}

.cs-nav-link {
    color: $navigation-text-color;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1.5rem 0;
    transition: all .2s cubic-bezier(0.42, 0.15, 0.22, 0.96);
}

.cs-nav-link:hover,
.cs-nav-link:active {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.active {
    text-decoration: none;
    font-weight: bold;
    color: white;
    border-bottom: 5px solid #ffffff;
    border-radius: 2px; 
}

.last-element {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.8rem 1.5rem;
    border: 1.2px solid #ffffff;
    border-radius: 4px;
    transition: all .2s ease-in;

    &:hover {
        background-color: transparent;
        text-decoration: none;
        color: white;
    }
}

@media (max-width: 576px) {

    ul.nav-items {
        padding: 2rem 0;
    }

    li.nav-item {
        width: 100%;
        text-align: center;
        padding: 0.8rem 0.5rem;
    }

    .active {
        border-bottom: none;
        padding: 1.2rem 10rem;
        border-radius: 4px;
        background-color: $color-primary-light;
    }
}