<!-- <script src="/jquery/dist/jquery.min.js"></script>
<script src="/popper.js/dist/popper.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script> -->

<!-- <script src="/assets/js/line-chart.js"></script> -->

<footer class="main-footer">
    <div class="container">
        <div class="row row-content footer-row">
            <div class="col-12 col-sm-6 col-lg-4">
                <p class="footer-header">ABOUT EWU ECON CLUB</p>
                <hr class="footer-hr">
                
                <form action="" class="newsletter-form-container margin-form" >
                    <p class="newsletter-title">Subscribe to Our Newsletter</p>
                    <div class="email-container">
                        <i class="fa fa-envelope icon-email"></i>
                        <input class="add-email" type="email" placeholder="Enter your email..">
                        <button class="btn-subscribe" type="button">Subscribe</button>
                    </div>
                </form>

                <p class="footer-desc line-height margin-bottom-little">Stay connected with us by joining:</p>
                <div class="d-flex icon-group margin-bottom-icon">
                    <a href=""><i class="fa fa-facebook icon"></i></a>
                    <a href=""><i class="fa fa-google-plus icon"></i></a>
                    <a href=""><i class="fa fa-envelope icon"></i></a>
                    <a href=""><i class="fa fa-twitter icon"></i></a>
                    <a href=""><i class="fa fa-linkedin icon"></i></a>
                </div>

            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <p class="footer-header">QUICK LINKS</p>
                <hr class="footer-hr">
                <div class="margin-form footer-links-container">
                    <ul class="footer-links-1">
                        <li class="footer-link"><a class="footer-link-a" href="">Home</a></li>
                        <li class="footer-link"><a class="footer-link-a" href="">About</a></li>
                        <li class="footer-link"><a class="footer-link-a" href="">Moderators</a></li>
                        <li class="footer-link"><a class="footer-link-a" href="">Executive Committee</a></li>
                        
                    </ul>

                    <ul class="footer-links-2">
                        <li class="footer-link"><a class="footer-link-a" href="">Blog</a></li>
                        <li class="footer-link"><a class="footer-link-a" href="">Events</a></li>
                        <li class="footer-link"><a class="footer-link-a" href="">Contact</a></li>
                        <li class="footer-link"><a class="footer-link-a" href="">Gallery</a></li>
                    </ul>
                </div>
                
                    
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <p class="footer-header">CONTACT</p>
                <hr class="footer-hr">
                <address class="address-container">
                    <i class="fa fa-address-card text-white icon margin-bottom-20"></i>Jahurul Islam City Gate, A/2 Jahurul Islam Ave, Dhaka 1212 <br>

                    <i class="fa fa-phone icon text-white margin-bottom-20 margin-top20"></i>+123 4567 8900 <br>

                    <i class="fa fa-envelope icon text-white margin-bottom-20"></i>contact@ewuec.com<br>

                    <i class="fa fa-chrome icon text-white margin-bottom-20"></i>www.ewuec.com
                </address>
            </div>
        </div>
        
    </div>

    <div class="copyright-container">
        <div class="row">
            <div class="col-12 text-center">
                <p class="text-white copyright-text">Copyright 2020 <span class="fa fa-copyright"></span> East West University Economics Club</p>
            </div>
        </div>
    </div>
</footer>

<script>
    $(function () {
        $(document).scroll(function () {
            var $nav = $(".navbar-dark");
            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
        });
    });
 </script>
</body>

</html>