<%- include('includes/head.ejs') %>
</head>

<body>
   <%- include('includes/navigation.ejs') %>
   <header class="header">
      <div class="container">
         <div class="text-box-container">
            <div class="header__text-box">
               <h1 class="heading-primary">
                     <span class="heading-primary--main">EWU economics club</span>
                     <span class="heading-primary--sub">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic ratione sapiente aliquid pariatur beatae recusandae</span>
               </h1>
      
               <a href="#" class="btn btn--white btn--animated"><span class="fa fa-user-plus"></span> Become a Member</a>
            </div>
            <div class="upcoming-event-container">
               <div class="upcoming-event-container--box">
               </div>
               <div id="timer"></div>
               <a class="upcoming-event-container--box--a" href=""><span class="fa fa-calendar"></span> Upcoming Event</a>
            </div>
         </div>
         <div class="chart-container">
            
         </div>
      </div>
   </header>

   <section class="event-section-container">
      <div class="container">
         <div class="section-middle">
            <div class="section-header">
               <h1 class="section-header--title">Upcoming Event</h1>
               <div class="section-header--bottom-line gradient"></div>
            </div>
         </div>
         <div class="upcoming-event-details-container">
            <a href="" class="upcoming-event-details-container--link">
               <img class="upcoming-event-details-container--link--img img-fluid" src="/assets/home-img/img-upcoming-event/upcoming-event.png" alt="upcoming-event">
            </a>
            <div class="upcoming-event-details-container--about">
               <div class=".upcoming-event-details-container--about--flex">
                  <h1 class="upcoming-event-details-container--about--flex--title">Alumni Alliance reunion - 2020</h1>
                  <h3><b>Date: 20/09/2020</b></h3>
                  <br>
                  <p class="upcoming-event-details-container--about--flex--description">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sunt blanditiis nostrum beatae dicta repellendus sequi odio doloribus molestiae! Repellat natus reiciendis sit odio ex. Ex voluptatum sed ipsam nihil.
                  </p>
                  <br>
                  <a href="#" class="upcoming-event-details-container--about--flex--see-details">see more <span class="fa fa-sm fa-arrow-right"></span></a>
               </div>
            </div>
         </div>
      </div>

   </section>

   <section class="task-counter-section">
      <div class="task-counter-position">
         <div class="counters">
            <div class="cs-container row">
               <div class="counter-component-container">
                  <i class="fa fa-users fa-4x"></i>
                  <div class="counter" data-target="20000">0</div>
                  <h3>Members</h3>
               </div>
               <div class="counter-component-container">
                  <i class="fa fa-handshake-o fa-4x"></i>
                  <div class="counter" data-target="87000">0</div>
                  <h3>Reach</h3>
               </div>
               <div class="counter-component-container">
                  <i class="fa fa-bullhorn fa-4x"></i>
                  <div class="counter" data-target="45000">0</div>
                  <h3>Engagements</h3>
               </div>
               <div class="counter-component-container">
                  <i class="fa fa-calendar fa-4x"></i>
                  <div class="counter" data-target="150">0</div>
                  <h3>Events</h3>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="section-testimonials">
      <div class="container">
         <div class="section-middle">
            <div class="section-header">
               <h1 class="section-header--title">Testimonials</h1>
               <div class="section-header--bottom-line gradient"></div>
            </div>
         </div>
      <!-- </div> -->
      <section class="spacer">
            
         <div class="testimonial-section">
            <div class="testi-user-img">
               <div class="swiper-container gallery-thumbs">
                  <div class="swiper-wrapper">
                           <div class="swiper-slide">
                                 <img class="u3" src="https://md-aqil.github.io/images/2091127763_1_1_1.jpg" alt="">
                             </div>
                   <div class="swiper-slide">
                       <img class="u1" src="https://md-aqil.github.io/images/beautiful-beauty-face-2657838.jpg" alt="">
                   </div>
                   <div class="swiper-slide">
                   <img class="u2" src="https://md-aqil.github.io/images/attractive-beautiful-beauty-1986684.jpg" alt="">
                   </div>
               
                   <div class="swiper-slide">
                   <img class="u4" src="https://md-aqil.github.io/images/beautiful-beauty-face-2657838.jpg" alt="">
                   </div>
                   
                   </div>
               </div>
             </div>
             <div class="user-saying">
                   <div class="swiper-container testimonial">
                           <!-- Additional required wrapper -->
                        <div class="swiper-wrapper ">
                              <!-- Slides -->
                              <div class="swiper-slide">
                                 <div class="quote">
                                          <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
                                    <p>
                                             “This is best and biggest unified platform
                                    for instant online admission. We can easily
                                    take admission for any course in any institute..“
                                    </p>
                                    <div class="name">-Ramkishor Verma-</div>
                                    <div class="designation">University Student</div>
                                    
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="quote">
                                       <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
                                    
                                    <p>
                                             “This is best and biggest unified platform
                                    for instant online admission. We can easily
                                    take admission for any course in any institute..“
                                    </p>
                                    <div class="name">-Ramkishor Verma-</div>
                                    <div class="designation">University Student</div>
                                    
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="quote">
                                       <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
                                          
                                    <p>
                                             “This is best and biggest unified platform
                                    for instant online admission. We can easily
                                    take admission for any course in any institute..“
                                    </p>
                                    <div class="name">-Ramkishor Verma-</div>
                                    <div class="designation">University Student</div>
                                    
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                    <div class="quote">
                                          <img class="quote-icon" src="https://md-aqil.github.io/images/quote.png" alt="">
                                       
                                          <p>
                                                “This is best and biggest unified platform
                                          for instant online admission. We can easily
                                          take admission for any course in any institute..“
                                          </p>
                                          <div class="name">-Ramkishor Verma-</div>
                                          <div class="designation">University Student</div>
                                          
                                    </div>
                                 </div>
                              
                        </div>
                        <!-- If we need pagination -->
                        <div class="swiper-pagination swiper-pagination-white"></div>
                     </div>
               </div>
            </div>
         </section>
     </div>
   </section>

   <section class="event-card-section">
      <div class="container">
         <div class="section-middle">
            <div class="section-header">
               <h1 class="section-header--title section-white-title">This Year</h1>
               <div class="section-header--bottom-line gradient"></div>
            </div>
         </div>
         <div class="event-container">
         <div class="blog-slider">
            <div class="blog-slider__wrp swiper-wrapper">
              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  
                  <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759872/kuldar-kalvik-799168-unsplash.jpg" alt="">
                </div>
                <div class="blog-slider__content">
                  <span class="blog-slider__code">26 December 2019</span>
                  <div class="blog-slider__title">Lorem Ipsum Dolor</div>
                  <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi? </div>
                  <a href="#" class="blog-slider__button">READ MORE</a>
                </div>
              </div>
              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/jason-leung-798979-unsplash.jpg" alt="">
                </div>
                <div class="blog-slider__content">
                  <span class="blog-slider__code">26 December 2019</span>
                  <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
                  <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
                  <a href="#" class="blog-slider__button">READ MORE</a>
                </div>
              </div>
              
              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/alessandro-capuzzi-799180-unsplash.jpg" alt="">
                </div>
                <div class="blog-slider__content">
                  <span class="blog-slider__code">26 December 2019</span>
                  <div class="blog-slider__title">Lorem Ipsum Dolor</div>
                  <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
                  <a href="#" class="blog-slider__button">READ MORE</a>
                </div>
              </div>

              <div class="blog-slider__item swiper-slide">
               <div class="blog-slider__img">
                 <img src="https://res.cloudinary.com/muhammederdem/image/upload/v1535759871/jason-leung-798979-unsplash.jpg" alt="">
               </div>
               <div class="blog-slider__content">
                 <span class="blog-slider__code">26 December 2019</span>
                 <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
                 <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
                 <a href="#" class="blog-slider__button">READ MORE</a>
               </div>
             </div>
              
            </div>
            <div class="blog-slider__pagination"></div>
         </div>
      </div>
   </section>

   <section class="gallery-section">
      <div class="container">
         <div class="section-middle">
            <div class="section-header">
               <h1 class="section-header--title">Gallery</h1>
               <div class="section-header--bottom-line gradient"></div>
            </div>
         </div>

         <section class="gallery">
            <figure class="gallery__item gallery__item--1"><img src="/img/gal-1.jpeg" alt="Gallery image 1" class="gallery__img"></figure>
            <figure class="gallery__item gallery__item--2"><img src="/img/gal-2.jpeg" alt="Gallery image 2" class="gallery__img"></figure>
            <figure class="gallery__item gallery__item--3"><img src="/img/gal-3.jpeg" alt="Gallery image 3" class="gallery__img"></figure>
            <figure class="gallery__item gallery__item--4"><img src="/img/gal-4.jpeg" alt="Gallery image 4" class="gallery__img"></figure>
            <figure class="gallery__item gallery__item--5"><img src="/img/gal-5.jpeg" alt="Gallery image 5" class="gallery__img"></figure>
            <figure class="gallery__item gallery__item--6"><img src="/img/gal-6.jpeg" alt="Gallery image 6" class="gallery__img"></figure>
            <figure class="gallery__item gallery__item--7"><img src="/img/gal-7.jpeg" alt="Gallery image 7" class="gallery__img"></figure>
            <figure class="gallery__item gallery__item--8"><img src="/img/gal-8.jpeg" alt="Gallery image 8" class="gallery__img"></figure>
            <figure class="gallery__item gallery__item--9"><img src="/img/gal-9.jpeg" alt="Gallery image 9" class="gallery__img"></figure>
            <figure class="gallery__item gallery__item--10"><img src="/img/gal-10.jpeg" alt="Gallery image 10" class="gallery__img"></figure>
            <figure class="gallery__item gallery__item--11"><img src="/img/gal-11.jpeg" alt="Gallery image 11" class="gallery__img"></figure>
            <figure class="gallery__item gallery__item--12"><img src="/img/gal-12.jpeg" alt="Gallery image 12" class="gallery__img"></figure>
            <figure class="gallery__item gallery__item--13"><img src="/img/gal-13.jpeg" alt="Gallery image 13" class="gallery__img"></figure>
            <figure class="gallery__item gallery__item--14"><img src="/img/gal-14.jpeg" alt="Gallery image 14" class="gallery__img"></figure>
        </section>
      </div>
   </section>

   <script src="/assets/js/clock.js"></script>
   <script src="/assets/js/task-counter.js"></script>
   <script src="/others-js/swiper.min.js"></script>
   <script src="/assets/js/testimonials.js"></script>
   <script src="/assets/js/event-card.js"></script>
   <!-- <script src="/assets/js/line-chart.js"></script> -->
<%- include('includes/end.ejs') %>