<%- include('includes/head.ejs') %>
</head>

<body>
   <header>
      <%- include('includes/navigation.ejs') %>
   </header>
   <div>
      <div class="container">
         <!-- <h1>from views home</h1> -->
      </div>
   </div>

<%- include('includes/end.ejs') %>