.page-header-section {
    width: 100%;
    height: 25rem;
    background-image: linear-gradient(to right bottom,
        rgba($color-primary-light, 0.7),
        rgba($color-primary-middle, 0.7),
        rgba($color-primary-dark, 0.7)),
        url("/assets/css-img/home/counter-connected-world-bg-img.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.page-header-position {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-title {
    color: white;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 4px;
    word-spacing: 5px;
    font-weight: 700;
}

///////////////

.our-story-section {
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.story-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.our-story-text {
    width: 70%;
    font-size: 2rem;
    color: $color-paragraph-dark;
    line-height: 1.4;
}

.img-story {
    width: 200px;
    height: auto;
}

.moments-carousel-section {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.carousel-img-height {
    height: 550px;
}


@media (max-width: 756px) {
    .story-container {
        flex-direction: column;
    }

    .our-story-text {
        width: 100%;
    }
}

@media (max-width: 540px) {
    .our-story-text {
        font-size: 1.8rem;
    }

    .img-story {
        width: 80%;
        height: auto;
    }

    .page-title {
        font-size: 2.4rem;
    }
}

.align-header-left {
    margin: 0 !important;
}

.mission-about-section {
    padding: 4rem 0;
    background: #073881;
}

.text-white {
    color: white;
}

.img-ml-zero {
    margin-left: 0 !important;
}

.vision-about-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.large-img {
    width: 100% !important;
    height: auto;
}


.objectives-values-about-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: #4c0ebe;
}

.w100 {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}